{% extends 'TopxiaWebBundle:My:layout.html.twig' %}

{% block title %}我的错题本 - {{ parent() }}{% endblock %}
{% set side_nav = 'my-wrongcollection' %}

{% block main %}
<div class="panel panel-default panel-col">

	<div class="panel-heading">
		我的错题本
	</div>
	<div class="panel-body">
		<ul class="nav nav-tabs">
			<li class="{{ myQuizActive|default('') }}"><a href="{{ path('my_wrongcollections') }}">错题记录</a></li>
			<li class="{{ favoriteActive|default('') }}"><a href="{{ path('my_show_favorite_question') }}">错题统计</a></li>
		</ul>
		<br>
		{% block list %}{% endblock %}
		
	</div>
</div>
{% endblock %}